@page "/About"
<h3>About</h3>
Our Pet Shelter lets you find a pet you always dreamed of! You can find the animal that suits you best and come pick it up during our visiting hours. Feel free to discover through our virtual gallery and see what animals seek new homes. Fill in our form online and get rid of formalities fast.

Shelter also accepts new deliveries of pets. Just fill the form online and let us know when you will be bringing the new animal to us.

Happy adopting!
@code {
    
}