@page "/About"
<div style="text-align: center;">
    <h3>About</h3>
    <br>

    <h5>Our Pet Shelter lets you find a pet you always dreamed of!</h5>
    <br>
    <br>
    You can find the animal that suits you best and come pick it up during our visiting hours.<br>

    Feel free to discover through our virtual gallery and see what animals seek new homes.
    <br>
    Fill in our form online and get rid of formalities fast.
    <br>
    <br>

    Shelter also accepts new deliveries of pets. Just fill the form online and let us know when you will be bringing the new animal to us.
    <br>
    <br>

    Happy adopting!
</div>

@code {

}