@page "/PendingRequests"
@using PetShelter.Data

@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject UserRequestsService UserRequestsService
@inject PetService PetService
@inject PendingRequestsService PendingRequestsService


<h1>Pending Requests</h1>
<h3>Requested Adoptions</h3>
<div class="container">
    <div class="row">
        @if (requestedAdoptions.Count == 0)
        {
            <p>
                There are no requested adoptions.
            </p>
        }
        @foreach (var adoption in requestedAdoptions)
        {
            <PendingRequestCard Pet=@adoption.Item1 Adoption=@adoption.Item2 Decide=@true UpdatePage=@UpdatePage/>
        }
    </div>
</div>
<h3>Requested Deliveries</h3>
<div class="container">
    <div class="row">
        @if (requestedDeliveries.Count == 0)
        {
            <p>
                There are no requested deliveries.
            </p>
        }
        @foreach (var delivery in requestedDeliveries)
        {
            <PendingRequestCard Pet=@delivery.Item1 Delivery=@delivery.Item2 Decide=@true UpdatePage=@UpdatePage/>
        }
    </div>
</div>
<h3>Accepted Adoptions</h3>
<div class="container">
    <div class="row">
        @if (acceptedAdoptions.Count == 0)
        {
            <p>
                There are no accepted adoptions.
            </p>
        }
        @foreach (var adoption in acceptedAdoptions)
        {
            <PendingRequestCard Pet=@adoption.Item1 Adoption=@adoption.Item2 Decide=@false UpdatePage=@UpdatePage/>
        }
    </div>
</div>
<h3>Accepted Deliveries</h3>
<div class="container">
    <div class="row">
        @if (acceptedDeliveries.Count == 0)
        {
            <p>
                There are no accepted deliveries.
            </p>
        }
        @foreach (var delivery in acceptedDeliveries)
        {
            <PendingRequestCard Pet=@delivery.Item1 Delivery=@delivery.Item2 Decide=@false UpdatePage=@UpdatePage/>
        }
    </div>
</div>

@code {

    private string? _userId;
    private List<Tuple<Pet, PetAdoption>> requestedAdoptions;
    private List<Tuple<Pet, Delivery>> requestedDeliveries;
    private List<Tuple<Pet, PetAdoption>> acceptedAdoptions;
    private List<Tuple<Pet, Delivery>> acceptedDeliveries;


    protected override Task OnInitializedAsync()
    {
        UpdatePage();
        return Task.CompletedTask;
    }

    public void UpdatePage()
    {
        requestedAdoptions = PendingRequestsService.GetRequestedAdoptions();
        requestedDeliveries = PendingRequestsService.GetRequestedDeliveries();
        acceptedAdoptions = PendingRequestsService.GetAcceptedAdoptions();
        acceptedDeliveries = PendingRequestsService.GetAcceptedDeliveries();
        StateHasChanged();

    }
}