@page "/petdisplay"
@using PetShelter.Data
@inject PetService PetService

<h3>Pet display</h3>


@if (_pets == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Breed</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var pet in _pets)
        {
            <tr>
                <td>@pet.Name</td>
                <td>@pet.Age</td>
                <td>@pet.Breed</td>
                <td><AnimalAdopt AnimalId=@pet.Id></AnimalAdopt></td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<Pet>? _pets;

    protected override async Task OnInitializedAsync()
    {
        _pets = await PetService.GetAllPersons();
    }

}